@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 3.1% 31.6%;
    --foreground: 240 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 263.4 77.2% 62.2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 222.3 76.1% 59%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 116.7 83.3% 74.1%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-gradient-to-b from-background to-muted;
  }
}

/* https://github.com/shadcn-ui/ui/issues/546#issuecomment-1633100711 */
.rdp-vhidden {
  @apply hidden;
}

.border-gradient-step {
  background-image: linear-gradient(90deg, hsl(var(--secondary)), hsl(var(--primary))), linear-gradient(90deg, hsl(var(--secondary)), hsl(var(--primary)));
  background-size: 100% 5px;
  background-position: 0 0, 0 100%;
}

.border-gradient-main {
  background-image: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--secondary))), linear-gradient(90deg, hsl(var(--primary)), hsl(var(--secondary)));
  background-size: 100% 5px;
  background-position: 0 0, 0 100%;
}

.border-gradient-secondary {
  background-image: linear-gradient(90deg, hsl(var(--foreground)), hsl(var(--secondary))), linear-gradient(90deg, hsl(var(--foreground)), hsl(var(--secondary)));
  background-size: 100% 5px;
  background-position: 0 0, 0 100%;
}
